{% block content %}
  <h2>Знайти нотатку за тегами</h2>
  <form method="get">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Переглянути</button>
  </form>

  <h2>Нотатки</h2>
  {% for note in notes %}
    <div class="note">
      <p>{{ note.note }}</p>
      <p>Теги: {{ note.tags.all|join:", " }}</p>
      <a href="{% url 'notes:delete_note' note.id %}" class="btn btn-danger">Видалити</a>
      <a href="{% url 'notes:edit_note' note.id %}" class="btn btn-primary">Змінити</a>
    </div>
  {% empty %}
    <p>Нотатки з вибраними тегами не знайдено.</p>
  {% endfor %}

  <!-- Кнопка "Повернутися" -->
  <button onclick="goBack()" class="btn btn-secondary">Повернутися</button>

  <script>
    function goBack() {
      window.location.href = '{% url 'notes:note' %}';
    }
  </script>
{% endblock %}