{% extends 'notes/base.html' %}

{% block content %}
<div class="container mt-3">
    <h2>Add Note</h2>
    <form method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.non_field_errors }}
        </div>
        {% endif %}
        <div class="mb-3">
            <label for="{{ form.note.id_for_label }}" class="form-label">Note</label>
            {{ form.note }}
            <span class="text-danger">{{ form.note.errors }}</span>
        </div>
        <div class="mb-3">
            <label for="{{ form.tags.id_for_label }}" class="form-label">Tag</label>
            {{ form.tags }}
            <span class="text-danger">{{ form.tags.errors }}</span>
        </div>        
       
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="cancel" class="btn btn-secondary">Cancel</button>
    </form>
</div>
{% endblock %}
