.note {
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #333333;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #333333;
}

.note span.text {
    display: block;
    margin-bottom: 5px;
    font-size: large;
    font-style: italic;
}

.note small.author {
    font-weight: bold;
    color: #3677E8;
}

.note .tags {
    margin-top: 10px;
}

.tag {
    padding: 2px 5px;
    border-radius: 5px;
    color: white;
    font-size: small;
    background-color: #7CA3E6;
}
