{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Project</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'news/css/news.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css" integrity="sha384-BY+fdrpOd3gfeRvTSMT+VUZmA728cfF9Z2G42xpaRkUGu2i3DyzpTURDo5A6CaLK" crossorigin="anonymous">

</head>

<body>

    <aside>
        <img src="{% static 'news/img/group_logo.jpg' %}">
        <span class="logo">TEAM 10</span>
        <h3>Навігація</h3>
        <ul>
            {% if user.is_authenticated %}
            <a href=""><li><i class="fa-regular fa-note"></i>Нотатки</li></a>
            <a href=""><li><i class="fa-regular fa-file"></i>Файловий Менеджер</li></a>
            <a href=""><li><i class="fa-regular fa-address-book"></i>Контакти</li></a>
            <a href="{% url 'news' %}"><li><i class="fa-solid fa-newspaper"></i>Новини</li></a>
            <a href="{% url 'weather' %}"><li><i class="fa-regular fa-cloud"></i>Погода</li></a>
            <a href="{% url 'money' %}"><li><i class="fa-solid fa-dollar-sign"></i>Курс валют</li></a>
            {% else %}
            <a href="{% url 'news' %}"><li><i class="fa-regular fa-newspaper"></i>Новини</li></a>
            <a href="{% url 'weather' %}"><li><i class="fa-regular fa-cloud"></i>Погода</li></a>
            <a href="{% url 'money' %}"><li><i class="fa-solid fa-dollar-sign"></i>Курс валют</li></a>
            {% endif %}
        </ul>
        <h3 class="contributors">Проект підготували:</h3>
    </aside>

    <main>
        <div id="registration-buttons">
            {% if user.is_authenticated %}
            <a href="{% url 'users:logout' %}" class="btn btn-primary" title="Username: {{ user }}"><button>Вихід</button></a>
            <a href="{% url 'users:profile' %}" class="btn btn-primary" title="Username: {{ user }}"><button>Профіль</button></a>
            {% else %}
            <a href="{% url 'users:signup' %}" class="btn btn-primary_1"><button>Реєстрація</button></a>
            <a href="{% url 'users:login' %}" class="btn btn-primary_2"><button>Вхід</button></a>
            {% endif %}
        </div>
        <div>
{#            <h2 class="project">Проект з використанням Django</h2>#}
        </div>
        <div>
            <h2 class="project_name">Personal Assistant</h2>
        </div>
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="static/news/img/group_logo.jpg">
                </div>
            <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        </div>
        <div class="django_logo">
            <img src="static/news/img/logo-python-django-300x99.png">
        </div>

    </main>
</body>

