{% extends 'Notesapp/base.html' %}

{% block content %}
  <style>
    .tag-list {
      max-height: 200px; 
      overflow-y: auto; 
    }

    .note-list {
      max-height: 400px; 
      overflow-y: auto; 
    }
  </style>

  <h2>Знайти нотатку за тегами</h2>
  <form method="get">
    {% csrf_token %}
    <div class="tag-list">
      <label>Теги:</label><br>
      {% for tag in user_tags %}
        <input type="checkbox" name="tags" value="{{ tag.id }}" id="tag_{{ tag.id }}">
        <label for="tag_{{ tag.id }}">{{ tag.name }}</label><br>
      {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary view-button">Переглянути</button>
  </form>

  <h2>Нотатки</h2>
  <div class="note-list">
    {% for note in notes %}
      <div class="note">
        <p>{{ note.note }}</p>
        <p>Теги: {{ note.tags.all|join:", " }}</p>
        <a href="{% url 'notes:delete_note' note.id %}" class="btn btn-danger delete-button">Видалити</a>
        <a href="{% url 'notes:edit_note' note.id %}" class="btn btn-primary edit-button">Змінити</a>
      </div>
    {% empty %}
      <p>Нотатки з вибраними тегами не знайдено.</p>
    {% endfor %}
  </div>
{% endblock %}
