{% extends "filemanager/base.html" %}

{% block content %}
<ul>
    <h2>Список ваших файлів</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Завантажити</button>
    </form>

    <form method="get">
        <select name="category">
            <option value="" {% if not request.GET.category %} selected {% endif %}>Усі категорії</option>
            <option value="image" {% if request.GET.category == 'image' %} selected {% endif %}>Зображення</option>
            <option value="document" {% if request.GET.category == 'document' %} selected {% endif %}>Документи</option>
            <option value="video" {% if request.GET.category == 'video' %} selected {% endif %}>Відео</option>
            <option value="audio" {% if request.GET.category == 'audio' %} selected {% endif %}>Аудіо</option>
            <option value="archive" {% if request.GET.category == 'archive' %} selected {% endif %}>Архіви</option>
            <option value="executable" {% if request.GET.category == 'executable' %} selected {% endif %}>Виконувані файли</option>
            <option value="programming" {% if request.GET.category == 'programming' %} selected {% endif %}>Програмування</option>
            <option value="other" {% if request.GET.category == 'other' %} selected {% endif %}>Інше</option>
        </select>
        <button type="submit">Фільтрувати</button>
    </form>

    <ul>
        {% for file in files %}
        <li>
            {{ file.name }}
            <a href="{{ file.file.url }}">Скачати</a>
            <a href="{% url 'delete_file' file.id %}">Видалити</a>
        </li>
        {% endfor %}
    </ul>
</ul>
{% endblock %}
