{% extends 'contacts/base.html' %}

{% block content %}
  <h1>Знайти контакти</h1>
  <form method="get">
    {{ form.as_p }}
    <button type="submit">Пошук</button>
  </form>
  {% if query %}
    <h2>Результати пошуку: "{{ query }}"</h2>
    {% if results %}
      <ul>
        {% for contact in results %}
          <li>{{ contact.name }} - {{ contact.phone }} - {{ contact.email }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Контактів не знайдено.</p>
    {% endif %}
  {% endif %}
{% endblock %}