{% extends 'contacts/base.html' %}

{% block content %}
  <h1>Дні народження</h1>
  <form method="get">
    {{ form.as_p }}
    <button type="submit">Пошук</button>
  </form>
  {% if upcoming_birthdays %}
    <h2>Дні народження в наступні {{ days_ahead }} днів.</h2>
    <ul>
      {% for contact in upcoming_birthdays %}
        <li>{{ contact.name }} - {{ contact.birthday }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Немає днів народження в наступні {{ days_ahead }} днів.</p>
  {% endif %}
{% endblock %}