{% autoescape off %}
<body>
<p>Привіт {{ user.username }},</p>
<p>Ви надіслали запит на відновлення паролю для свого облікового запису. Перейдіть за цим посиланням, щоб встановити новий пароль:</p>
<p>
    <a href="{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}">
        {{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}
    </a>
</p>
<p>Якщо ви не надсилали запит на відновлення паролю, проігноруйте цей електронний лист.</p>
<p>Дякую,</p>
<p>Наша команда</p>
{% endautoescape %}
